body {
  background-color: #F9EA9A;
  font-family: Courier New;
}

.bigButton {
  cursor: pointer;
  color: black;
  height: 150px;
  width: 150px;
  font-size: 25px;
  font-family: Courier New;
  border: 1px solid black;
  border-radius: 30px;
}

.clickable {
  cursor: pointer;
}

.smallButton {
  cursor: pointer;
  color: black;
  height: 30px;
  width: 75px;
  font-size: 15px;
  font-family: Courier New;
  border: 1px solid black;
  border-radius: 30px;
}

.textInput {
  background-color: #F2F6D0;
  border-width: 0px;
  border-radius: 5px;
  font-family: Courier New;
  font-size: 15px;
  height: 23px;
}

.backButton {
  composes: smallButton;
  background-color: #A8C7BB
}

.submitButton {
  composes: smallButton;
  background-color: #D9D2B6
}

.buttonOn {
  border-color: white;
  color: white;
}

.customSelect {
  composes: textInput;
}

input[type="file"] {
    display: none;
}

.chooseFileButton {
  border-width: 0px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #D7C0D0
}

input[type="radio"] {
    display: none;
}

.radioButton {
  cursor: pointer;
}

.radioButtonOn {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;
}
