body {
  background-color: #F9EA9A;
  font-family: Courier New;
}

.bigButton {
  cursor: pointer;
  color: black;
  height: 150px;
  width: 150px;
  font-size: 25px;
  font-family: Courier New;
  border: 1px solid black;
  border-radius: 30px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
  color: gray;
}

.smallButton {
  cursor: pointer;
  color: black;
  height: 30px;
  width: 75px;
  font-size: 15px;
  font-family: Courier New;
  border: 1px solid black;
  border-radius: 30px;
}

.textInput {
  background-color: #F2F6D0;
  border-width: 0px;
  border-radius: 5px;
  font-family: Courier New;
  font-size: 15px;
  height: 23px;
}

.backButton {
  composes: smallButton;
  background-color: #A8C7BB
}

.submitButton {
  composes: smallButton;
  background-color: #D9D2B6
}

.buttonOn {
  border-color: white;
  color: white;
}

.customSelect {
  composes: textInput;
}

input[type="file"] {
    display: none;
}

.chooseFileButton {
  border-width: 0px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #D7C0D0
}

input[type="radio"] {
    display: none;
}

.radioButton {
  cursor: pointer;
}

.radioButtonOn {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;
}



.chatMessageClass {
  background: linear-gradient(#27C7FF, white);
  color: black;
  border-radius: 15px;;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  word-wrap: break-word;
}

.currUserChatMessageClass {
  text-align: right;
  background: linear-gradient(#27C7FF, white);
  color: black;
  border-radius: 15px;;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  word-wrap: break-word;
}

.chatMessageBoxClass {
  max-width: 500px;
  margin-left: 75px;
  border: solid 2px black;
  padding: 20px;
}

.chatUserNameClass {
  font-size: 15px;
  font-style: italic;
}

.chatUserMessageClass {
  font-size: 20px;
  font-weight: bold;
}

.chatRootClass {
  margin: 20px;
}

.chatTitle {
  border-bottom: 1px solid black;
}

/* .chatTitleLink {
  display: inline;
} */