body {
  background-color: #F9EA9A;
  font-family: Courier New;
}

.bigButton {
  cursor: pointer;
  color: black;
  height: 150px;
  width: 150px;
  font-size: 25px;
  font-family: Courier New;
  border: 1px solid black;
  border-radius: 30px;
}

.homeButtonPlay {
  composes: bigButton;
  background-color: #A9D2D5;
}

.homeButtonChat {
  composes: bigButton;
  background-color: #6BBF59;
}

.homeButtonProfile {
  composes: bigButton;
  background-color: #EDCBB1;
}
