.clickable {
  cursor: pointer;
}

.smallButton {
  cursor: pointer;
  color: black;
  height: 30px;
  width: 75px;
  font-size: 15px;
  font-family: Courier New;
  border: 1px solid black;
  border-radius: 30px;
}

.textInput {
  background-color: #F2F6D0;
  border-width: 0px;
  border-radius: 5px;
  font-family: Courier New;
  font-size: 15px;
  height: 23px;
}

.backButton {
  composes: smallButton;
  background-color: #A8C7BB
}

.submitButton {
  composes: smallButton;
  background-color: #D9D2B6
}

.logoutButton {
  composes: smallButton;
  width: 100px;
  background-color: #56667A;
}

.settingsButton {
  composes: smallButton;
  width: 100px;
  background-color: #65B891;
}

input[type="file"] {
    display: none;
}

.chooseFileButton {
  border-width: 0px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #D7C0D0
}

.addFriendButton {
  composes: smallButton;
  width: 130px;
  background-color: #E0FF4F
}

.removeFriendButton {
  composes: smallButton;
  width: 150px;
  background-color: #FF6663
}
